.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 80px;
}

.productsContainer{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    margin-left: 10%;
    margin-right: 10%;
}

@media only screen and (max-width: 900px) {
    
    .productsContainer{
        grid-template-columns: 50% 50%;
        margin-left: 5%;
        margin-right: 5%;
    }
}